@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Outfit", sans-serif;

  --color-primary-bg: #F4F8F5;
  --color-accent-green: #1B874B;
  --color-accent-green-hover: #126E3A;
  --color-charcoal: #13432B;
  --color-charcoal-light: #1F5B43;
  --color-cream-card: #EBF3EC;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: #0f3d25;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}